<div class="page_title">Discover</div>

<% @links.each do |link| %>
  <div class="link_list">
    <%= link_to link.title, "http://#{link.url}" %> shared by
    <%= link_to user_links_path(link.user_id) do %>
      <%= User.find_by(id: link.user_id).name %>
    <% end %>
  </div>
  <div class="action">
    <% if logged_in? %>
      <%= link_to like_user_link_path(link.user_id, link), method: :put do %>
        Like
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_user_link_path(link.user_id, link), method: :put do %>
        Dislike
        <%= link.get_downvotes.size%>
      <% end %>
      <%= link_to "Comments(#{link.comments.count})", user_link_path(link.user_id, link) %>
    <% else %>
      Like <%= link.get_upvotes.size %>
      DisLike <%= link.get_downvotes.size %>
      <%= link_to "Comments(#{link.comments.count})", user_link_path(link.user_id, link) %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @links %>
