<div class="page_title">Discover</div>

<% @links.each do |link| %>
  <div class="link_item">
    <div class="row">
      <div class="col-md-9">

        <%= link_to link.title, "http://#{link.url}" %> shared by
        <%= link_to user_links_path(link.user_id) do %>
          <%= User.find_by(id: link.user_id).name %>
        <% end %>

      </div>


      <div class="col-md-3">
        <div class="action">
          <% if logged_in? %>
            <%= link_to like_user_link_path(link.user_id, link), method: :put do %>
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= link.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_user_link_path(link.user_id, link), method: :put do %>
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <%= link.get_downvotes.size%>
            <% end %>
            <%= link_to user_link_path(link.user_id, link) do %>
              <span class="glyphicon glyphicon-comment"></span>
              <%= " #{link.comments.count}" %>
            <% end %>

          <% else %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <%= link.get_upvotes.size %>

            <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= link.get_downvotes.size %>

            <%= link_to user_link_path(link.user_id, link) do %>
              <span class="glyphicon glyphicon-comment"></span>
              <%= " #{link.comments.count}" %>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @links %>
