<h3><%= @user.name %>'s links</h3>
<% @links.each do |link| %>
  <p>
    <%= link_to link.title, "http://#{link.url}" %>
    <%= link_to 'edit', edit_user_link_path(@user, link) %>
    <%= link_to 'delete', user_link_path(@user, link), method: :delete, data: { confirm: "Are you sure" } %>
  </p>
<% end %>


<p><%= link_to 'New Link', new_user_link_path %></p>
