<% if logged_in? %>
  <div class="header_photo">
    <%= gravatar_for(current_user) %>
  </div>
  <div class="user_detail">
    <li class="links"><%= link_to "Links", user_links_path(current_user.id) %></li>
    <li class="profile"><%= link_to "Profile", current_user %></li>
    <li class="setting"><%= link_to "Settings", edit_user_path(current_user) %></li>
    <li class="nothing">.</li>
    <%= link_to  new_user_link_path(current_user) do %>
      <li class="new_link">New Link</li>
    <% end %>
  </div>
  <li class=<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'home' %>><%= link_to "Discover", root_path %></li>
  <li class=<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>><%= link_to "About", about_path %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
<% else %>
  <div class="log_out">
    <li class="brand"><%= link_to "LINK", root_path %></li>
    <li class=<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'home' %>><%= link_to "Discover", root_path %></li>
    <li class=<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>><%= link_to "About", about_path %></li>
    <li class=<%= 'active' if params[:controller] == 'users' && params[:action] == 'new' %>><%= link_to "Sign up", signup_path %></li>
    <li class=<%= 'active' if params[:controller] == 'sessions' && params[:action] == 'new' %>><%= link_to "Log in", login_path %></li>
  </div>
<% end %>
