<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <div class="side_bar">
    <div class="top">
      <%= render 'layouts/header' %>
    </div>
    <div class="bottom">
      <%= render 'layouts/footer' %>
    </div>
  </div>

  <div class="main">
    <p><a class="navbar-brand" href="#">Link You</a></p>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <hr>
    <p class="pull-right"><a href="#top">To top</a></p>
    <%#= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
